* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    background-color: black;
}

#container {
    background-color: black;
    padding: 50px;
    color: white;
}

#myInput, .addBtn {
    margin: 20px 0;
    height: 30px;
    
}

#myInput {
    width: 300px;
}

.addBtn {
    width: 60px;
}

h2 {
    margin-top: 30px;
}

#whiteLine {
    width: 500px;
    height: 2px;
    background-color: white;
    margin-top: 10px;
}

.task-list {
    height: 50px;
    width: 500px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 0 20px;
}

.task-btn, .del-btn, .res-btn {
    background-color: black;
    color: white;
    width: 80px;
    height: 30px;
    text-align: center;
}

button {
    cursor: pointer;
}

h3 {
    width: 280px;
}

.edit-input {
    width: 280px;  
}

.edit-input::placeholder {
    color: black;
    opacity: 1;
}



