* {margin: 0; padding: 0; box-sizing: border-box;}

html, body {
    background-color: whitesmoke;
}

#container {
    width: 100%;
    margin: 0 auto;
    /* background-color: black; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

#container h1 {
    color: black;
    font-size: 50px;
}

#mute-btn, #switch-btn, #fs-btn, #playback, #playback h3, #playback p, #playback div {
    display: inline-block;
}

#playback >* {
    margin: 10px;
}

#playback {
    font-size: 20px;
    font-weight: 900;
    color: green;
    background-color: honeydew;
}

#playback p {
    font-size: 30px;
    color: green;
    width: 50px;
}

.vid-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: green;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 30px;
    /* display: inline-block; */
    transition: all 0.7s;
    margin: 0 20px;
}

.vid-btn:hover, #alt-button:hover, #pb-btn:hover {
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    cursor: grab;
    transform: scale(1.2);
}

#pb-btn {
    padding: 10px 15px;
    border-radius: 15px;
    background-color: green;
    color: white;
}

#alt-button {
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    background-color: lightseagreen;
    color: black;
    font-weight: 900;
    display: inline-block;
    margin: 20px;
    border-radius: 30px;
    /* padding-left: 10px; */
}

.fa-chevron-right {
    margin-left: 10px;
}

.fa-chevron-left {
    margin-right: 10px;
}

.vol-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#vol-bar {
    width: 500px;
    height: 50px;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    background-color: lightgreen;
    text-align: left;
}

#vol-left {
    width: 400px;
    height: 50px;
    background-color: darkgreen;
    /* display: inline-block; */
}

#vol-bar2 {
    width: 250px;
    height: 100px;
    background-color: lightgreen;
}

.white-bar { 
    width: 20px;
    background-color: darkgreen;
    display: inline-block;
    margin: 0px;
}



